html {
  height:100%;
}

h1 {
  margin-top:0px;
}

body {
  font-family:Helvetica,sans-serif;
  background-color:rgb(240,240,241);
  height:100%;
  margin:0px;
}

.error {
	background-color:rgba(255,0,0,.5);
	padding:15px;
	text-align:center;
}

.content-wrapper {
  min-height:100%;
  margin-bottom:-110px; /* footer.height + footer.padding-top */
  padding-left:10px;
  padding-right:10px;
}

.footer {
  height:100px;
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
  clear:both;
}

.clearfix {
  clear:both;
}

.essay-contents {
  font-family:Georgia,serif;

  padding:15px;
  max-height: 400px;
  overflow:scroll;

  box-shadow: 0px 0px 10px black inset;
  background-color:white;
}

.essay-contents p:first-child {
  margin-top:0px;
}

.essay-contents p:last-child {
  margin-bottom:0px;
}

.left-column {
  float:left;
  width:30%;
}

.right-column {
  float:left;
  width:60%;
}

.keyword-form input {
  font-size:14px;
  margin:2px;
}

button {
  font-size:14px;
}
